.summary-wrapper {
	padding-top: 20px;
	padding-bottom: 20px;
}

.summary-lesson-name-btn {
	font-weight: bold;
	font-size: 0.95rem;
	font-size: clamp(0.7rem, 1.5vw, 1rem);
	padding: 10px;
	border-radius: 5px;
	border: none;
	background: #efefef;
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 15px;
}

.summary-lesson-name-btn:hover {
	background: #dedede
}

.student-summary-flex {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.admin-text {
	margin-left: 7px;
	display: inline-block;
}

.admin-text-list {
	font-size: 0.8rem;
	font-size: clamp(0.75rem, 1.4vw, 1rem);
}